@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.tamanho-card{
    max-width: 18rem;
}

.imagem-carrossel1{
    height: 400px;
    object-fit: cover;
    object-position: 0 80%;
}
.imagem-carrossel2{
    height: 400px;
    object-fit: cover;
}
.fonte-nav{
    font-family: 'Pacifico', cursive;
    color:green;
}
.fonte-nav:hover{
    color:darkred;
    
}
.fonte-titulo {
    font-family: 'Pacifico', cursive;
}
.fonte-titulo:hover {
 
}
.cor-especial {
    color: darkred;
}
.botao-cor-especial{
    background-color:darkred;
    color:white;
}
.botao-cor-especial:hover{
    background-color:darkred;
    color:gold;
 
}
.botao-cor-especial:active{
    color:black;
}
.borda-cor-especial{
    border-color:darkred;
}
.card-posicao-imagem{
    height: 200px;
  //  object-fit: cover;
    object-position: 0 80%;
}
.borda-imagem{
    border-radius:07px;
}